@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer is not responsible for any machines</p>
}
else
{
  <h4>Machines this engineer is responsible for:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.MachineName</li>
		@using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>